<head>
    <title>Welcome</title>
  </head>
  

  
  <div class="center-container">
  <H1 style=" text-align: center; font-size: 36px;">A FASTER WAY TO ORDER YOUR FOOD</H1>
  <br><br>
  <img  style="width: 25%; height: 50%;"
    src="../../assets/images/frontimage.png" alt="Card image cap">
    <br><br><br>
  <table align="center">
    <tr>
      <td><a routerLink="/login"><button class="bigbutton"><span>Log In</span></button></a></td>
      <td><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></td>
    </tr>
  </table>
  </div>